
/*===========Pc_first=============*/

@media screen and (max-width: 1024px){	
	
	.container {
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}
	img{
		max-width: 100%;
		height: auto;
	}
	#content .widget .widget-content ul li{
		width:30%;
	}
	#content .widget.feature-news .widget-content ul.post-list-news li a.post-desc{
		font-size: 14px;
	}
	#footer .widget.about {width: 50%;}
	#footer .widget.store {width: 40%;}
	#footer .widget.category {width: 40%;}
	#footer .widget.contact {width: 40%;}
}

@media screen and (max-width: 800px){
	#header ul.heder_menu-list li a {
	    padding: 27px 15px;
	}
}

@media screen and (max-width: 768px){
	#header ul.heder_menu-list{ display: none;}
	#icon-menu-respon{ display: block;} 
	#content{ width: 100%;}
	#content { 
		border-right: none;
		padding-right: 0px;
	}
	#sidebar a.ads{ display: none;}
	#sidebar{
		padding-left: 0px;
		width: 100%;
	}
	#sidebar ul.widget.top-view li:nth-child(even){
		margin-right: 0px;
	}
	#sidebar ul.widget.top-view li{
		float: left;
		margin-right: 10px;
		max-width: 49%;	
	}
}

@media screen and (max-width: 480px){	
	#content, #sidebar { width: 100% }
	#content .widget.widget.feature-cat .widget-title h3{
		font-size: 28px;
	}
	#content .widget .widget-content ul li{
		width:47%;
	}
	#sidebar ul.widget.top-view li{
		margin-right: 0px; 
		max-width: 100%;	
	}
	#sidebar ul.widget.top-view li:nth-child(even){
		display: none;
	}
	
	#footer .widget.about {width: 100%;}
	#footer .widget.store {width: 100%;}
	#footer .widget.category {width: 100%;}
	#footer .widget.contact {width: 100%;}

 }

 @media screen and (max-width: 320px){	
	#content .widget .widget-content ul li{
		width:100%;
		text-align: center;
	}
 }



