
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,300&display=swap'); */

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    color: red;
    text-align: center;
}

.p1{
    font-style: italic;
    font-weight: 500;
}
.p2{
    font-weight: 700;
}
.p4{
    font-weight: 900;
}